.questions-container {
	display: flex;
	flex-wrap: wrap;
}

.question-overview {
	flex-grow: 1;
}

.question-detail {
	display: flex;
	justify-content: center;
	align-items: center;
}

.question-actions {
	display: flex;
	flex-direction: row-reverse;
}